* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #eef1f5;
}
.background-page {
    height: 100vh;
    margin: 0 auto;
    background-color: #019999;
}
.container {
    height: 100vh;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    place-content: center;
    position: relative;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}
.card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    transition: 0.4s all;
}
.card:hover {
    transform: scale(1.06);
}
.card img {
    width: 100px;
    margin: 2rem 0;
}
.card h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.card p {
    font-size: 0.9rem;
    color: #797575;
    height: 6rem;
    max-height: 100%;
}

.card .btn {
    text-decoration: none;
    display: inline-block;
    padding: 0.6rem 3rem;
    border-radius: 0.3rem;
    background-color: #019999;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.card .btn:hover {
    background-color: #237777;
}

/* Páginas de figuras geométricas */
.header {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #019999;
    padding: 2rem 0;
    color: #ffffff;
}
.header h1 {
    font-size: 2.2rem;
}
.header p {
    font-size: .9rem;
    padding-top: 1rem;
}
.forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.single-form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #ffffff;
}
.single-form h2 {
    color:#019999;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
}
.single-form form {
    margin: 1.5rem 0;
}

.single-form .escribirNumero {
    display: flex;
    margin-top: .3rem;
}

.single-form form label {
    font-size: .8rem;
    color: #000000;
}
.single-form form input {
    padding: .5rem;
}
.single-form form input, select {
    background-color: #f7f7f7;
    border: 1px solid #5f5e5e;
    border-radius: 0.25rem;
}
.single-form form .enterNumber {
    flex: 1 0 0;
}

.single-form form .enterNumberT {
    width: 30%;
    margin-right: 0.3rem;
    font-size: 0.7rem;
}
.single-form form .enterNumberT:nth-child(4) {
    margin-right: 0;
}
.single-form form .escribirNumero .seleccion {
    padding: .5rem;
    margin-left: .5rem;
    height: 35px;
}

.mostrarElResultado {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 1rem 0;
}
.single-form form .labelResultado {
    width: 6.5rem;
}

.single-form form .inputResultado {
    margin: 1rem 0;
    height: 2rem;
    padding-left: .5rem;
    flex: 1 0 0;
}

.single-form form .inputResultadoMedida {
    width: 58px;
    margin-left: .5rem;
    height: 2rem;
}

.single-form form .botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.single-form form button {
    width: 100%;
    color: #ffffff;
    background-color: #019999;
    border: none;
    padding: .8rem 0;
    border-radius: 0.25rem;
    margin-bottom: .4rem;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.single-form form button:hover {
    background-color: #237777;
}